@use 'variables';

.pecaAgora{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: variables.$corTema;
    color: variables.$corFundo;
    border-radius: 12px;
    margin-bottom: 20px;
    height: auto;
    &__box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2{
            font-family: variables.$fonteTema;

            @media (max-width: 768px){
                font-size: 18px;
                display: none;
            }
        }
        img.lacinho{
            width: 90px;
        }
        img.cart02{
            width: 23px;
            display: inline-block;
            padding-top: 3px;
        }
        a{
            color: variables.$corLink;
            background-color: variables.$corFundo;
            padding: 6px;
            display: inline-flex;
            align-items: center;
            border-radius: 8px;
            transition: all .5s ease;

        }
    }
}